body {
    text-align: center;
    margin: 0 auto;
}
.container {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    background-color:cadetblue;
    display: flex;
    align-content: center;
    justify-content: center;
}   

.hidden {
    display: none;
}